body {
    margin: 50px;
    text-align: center;

}


p{
    display: inline-block;
    border: solid black 1px;
    padding: 20px;
    margin-bottom: -200px;
}
  
.title{
    width: 300px;
    text-align: left;
    font-size: 100px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.text{
    font-size: : 12px;
    font-style: italic;
    width: 250px;
    text-align: justify;
}

a{
    color: black;
    text-decoration: none;
/*    text-transform: uppercase;
*/
}

a:visited {
    color: gray;
}

a:active {
    color: red;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
color: red;
}



