body {
    text-align: center;
    margin: 50px 20%;

}


p{
    display: inline-block;
    padding: 20px;
    margin: 10px auto;
}
  
.title{
    width: 250px;
    text-align: left;
    font-size: 80px;
    font-family: sans-serif;
    text-transform: uppercase;
    align-items: center;
    font-weight: bold;
}

.text{
    font-size: 22px;
    width: 300px;
    text-align: justify;
}

a{
    color: black;
    text-decoration: none;
/*    text-transform: uppercase;
*/
}

a:visited {
    color: gray;
}

a:active {
    color: red;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: red;
    font-style: italic;
}



