body {
    padding: 0px;
    margin: 0px;
    min-width: 800px;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

p{
    padding: 150px;
}

::-webkit-scrollbar { 
    display: none; 
}

.title{
    position: fixed;
    top: 0px;

    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

#title-ex {
    padding: 20px 40px;
    padding-bottom: 200px;
    background: linear-gradient(to top, rgba(255, 149, 117,0), rgba(255, 149, 117,1));
    width: 50%;
}

#title-pr{
    padding: 20px 40px;
    padding-bottom: 200px;
    background: linear-gradient(to top, rgba(253,215,0,0), rgba(253,215,0,1));
    width: 50%;
}

.menu{
    text-align: center;
    font-size: 30px;
    color: white;
}


#exercises {
    background-color: rgb(255, 149, 117);
    padding-top: 120px;
    height: 100%;
    width: 50%;
    float: left;
    overflow: scroll;
}

#projects {
    background-color: rgb(253,215,0);
    padding-top: 120px;
    height: 100%;
    width: 50%;
    float: left;
    overflow: scroll;
}

#bio {
    position:fixed;
    left:50%;
    top:50%;
    width:300px;
    height:300px;
    border-radius: 50%;

    margin-left:-150px; /* -1/2 width */
    margin-top:-150px; /* -1/2 height */  

    z-index: 3;
    background-color: white;
    align-content: center;
}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}

#footer-ex {
    padding: 20px;
    padding-top: 180px;
    text-align: right;
    background: linear-gradient(to bottom, rgba(253,215,0,0), rgba(253,215,0,1));
}

#footer-pr{
    padding: 20px;
    padding-top: 180px;
    background: linear-gradient(to bottom, rgba(255, 149, 117,0), rgba(255, 149, 117,1));
}

.descriptions{
    font-size: 18px;
    margin: 10px;
}

#malevich-text{
    display: none;
}

#malevich:hover #malevich-text {
    display: block;
}

#hover-text{
    display: none;
}

#hover:hover #hover-text {
    display: block;
}

#responsive-text{
    display: none;
}

#responsive:hover #responsive-text {
    display: block;
}

#abstract-text{
    display: none;
}

#abstract:hover #abstract-text {
    display: block;
}

#dowhat-text{
    display: none;
}

#dowhat:hover #dowhat-text {
    display: block;
}

#screenshot-text{
    display: none;
}

#screenshot:hover #screenshot-text {
    display: block;
}

#republish-text{
    display: none;
}

#republish:hover #republish-text {
    display: block;
}

#variations-text{
    display: none;
}

#variations:hover #variations-text {
    display: block;
}

#microsite-text{
    display: none;
}

#microsite:hover #microsite-text {
    display: block;
}



