body{
  	margin: 10% auto;
}

#main{
  	text-align: center;
  	height: 50%;
}

#div-left{
	display:inline-block;
	width: 500px;
	text-align: right;
}

#div-right{
	display: inline-block;
	width: 500px;
	text-align: left;
}