body{
    height: 1080px;
    margin: 0;
    padding: 0;
}


button {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

.brick-layout {
    height: 6%;
    background-color: white;
    display: flex;
    }
    
.first-half {
    flex: 0.5; 
    background-color: #cc8051;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 3px;
}

.last-half {
    flex: 0.5; 
    background-color: #cc8051;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 3px;
}

.brick-one {
    flex: 1; 
    background-color: #cc8051;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 3px;
}

.brick-two {
    flex: 1; 
    background-color: #cc8051;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 3px;
}

.brick-three {
    flex: 1; 
    background-color: #cc8051;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 3px;
}


.brick-four {
    flex: 1; 
    background-color: #cc8051;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 3px;
}

.brick-five {
    flex: 1; 
    background-color: #cc8051;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 3px;
}

.brick-six {
    flex: 1; 
    background-color: #cc8051;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 3px;
}

.brick-seven {
    flex: 1; 
    background-color: #cc8051;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 3px;
}

.brick-eight {
    flex: 1; 
    background-color: #cc8051;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 3px;
}


.red-brick{
    background-color: #cc8051;
    color: #cc8051;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 40px
    }

.blue-brick{
    background-color: #a7cbce;
    color: #a7cbce;
    font-family: serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: normal;
}

.yellow-brick{
    background-color: #e8df96;
    color: #e8df96;
    font-family: sans-serif;
    font-size: 18px;
    text-transform: none;
}

.brown-brick{
    background-color: #965d3a;
 	color: #965d3a;
 	font-family: sans-serif;
 	font-size: 18px;
    text-transform: none;
}

.italicized{
    font-style: italic;
}

.mobile{
    display: none;
}

@media screen and (max-width: 1250px) {

    .hide{
        display: none;
    }

    .mobile{
        display: none;
    }

}

@media screen and (max-width: 950px) {

    .hide{
        display: none;
    }

    .mobile{
        display: none;
    }

    body{
        height: 900px;
    }

    .red-brick{
        font-size: 35px
        }

    .blue-brick{
        font-size: 12px;
    }

    .yellow-brick{
        font-size: 15px;
    }

    .brown-brick{
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {

    .hide{
        display: none;
    }

    .mobile{
        display: none;
    }

    body{
        height: 800px;
    }

    .red-brick{
        font-size: 30px
        }

    .blue-brick{
        font-size: 9px;
    }

    .yellow-brick{
        font-size: 12px;
    }

    .brown-brick{
        font-size: 12px;
    }
}
@media screen and (max-width: 600px) {

    body{
        height: 700px;
    }

    .hiden{
        display: none;
    }

    .mobile{
        display: none;
    }

    .brick-layout{
        height: 40px;
    }
    .red-brick{
        font-size: 25px
    }

    .blue-brick{
        font-size: 7px;
    }

    .yellow-brick{
        font-size: 10px;
    }

    .brown-brick{
        font-size: 10px;
    }

}

@media screen and (max-width: 480px) {
    
    body{
        height: 1440px;
    }
    
    .hide{
        display: flex;
    }

    .mobile{
        display: block;
    }

    .web{
        display: none;
    }

    .brick-layout{
        height: 40px;
    }

}

@media screen and (max-width: 320px) {

    body{
        height: 1440px;
    }

    .hide{
        display: block;
    }

    .web{
        display: none;
    }

    .brick-layout{
        height: 40px;
    }

}

