 #box1 {
        width: 40px;
        height: 40px;
        background-color: black;
        position: fixed;
        left: 60%;
        top: 80%;

    }  
    
#box2 {
        width: 200px;
        height: 200px;
        background-color: #6b6b6b;
        position: absolute;
        left: 45%;
        top: 50%;
           -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);
    }  
    
