body{
	font-size: 18px;
	line-height: 25px;
	margin: 8%;
}
.tooltip .tooltip-text { 
	background: black;
	color: white;
	font-size: 18px;
	padding: 5px;
	font-weight: 50px;
	opacity: 0;
	text-align: center;
	-webkit-transition: all 50ms ease-in-out;

}

.tooltip:hover {
	color: black;
}

.tooltip:hover .tooltip-text {
	opacity: 1;
}