body {
    display: flex;
    margin-top: -70px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 60px;
}

#title{
    text-align: right;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;

    flex: 1;
}

#text{
    padding: 90px 50px;
    align-items: center;


    flex: 1.2;
}

button {
	border-style: none;
	width: 300px;
	background-color: black;
	opacity: 0.2;
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px;
	position: relative;
	top: -80px;
    right: 35px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover{ 
	background-color: red;
	opacity: 1;
}



.list-one {
    color: #ffe100;;
    font-style: italic;
}

.list-two {
    color: red;
    font-style: italic;
}
        
.list-three {
    color: #6bb700;
    font-style: italic;
}